*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#navbar{
    display: flex;
    background-color: grey;
    color: #fff;
    justify-content: center;
}

.nav-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-container .logo{
    
}